@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserat-Regular.ttf");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OpenSans-Regular.ttf");
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat";
}

p,a {
    font-family: "OpenSans";
}

a {
    color: #607D8B;
}

footer {
    background: #B3E5FC;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

#banner {
    text-align: center;
}

.site-banner {
    max-width: 400px;
}

.primary-content {
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto minmax(200px, 400px) minmax(200px, 400px) auto;
    grid-gap: 10px;
}

.row-item {
    grid-column-start: 1;
    grid-column-end: -1;
}

.middle-row-item {
    grid-column-start: 2;
    grid-column-end: -2;
}

.left-sidebar-item {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    gred-row-end: -1;
}

.middle-columns-content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-template-rows: repeat(auto-fit, auto);
}

nav {
    background: #03A9F4;
    line-height: 35px;
    border-radius: 10px
}

ul {
    margin: 0;
    background: lightgrey;
}


nav li.active {
    background-color: #0288D1;
    color: white;
}

nav li.active a {
    color: white;
}

nav li.active:hover a {
    color: black;
}

nav li:hover {
    background: #B3E5FC;
}


nav li {
    text-align: center;
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

nav li a {
    color: black;
    text-decoration: none;
}

.social {
    margin: 0;
    float: right;
    margin-right: 10px;
    disglay: inline;
    height: 35px;
}

.social img {
    height: 35px;
}

.social:hover {
    background: #B3E5FC;
}

.video {
    width: 100%;
    resize: both;
}
